.Container {
	margin: auto;
	width: 800px;
	height: 800px;
	display: flex;
	flex-direction: column;
}

body {
	background: cornsilk;
	height: 100vh;
	overflow: hidden;
}

.ranuras {
	width: 100%;
	height: 50px;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.tablero {
	width: 100%;
	height: 650px;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(6, 1fr);
	justify-content: space-evenly;
	align-items: center;
	background-color: #6699e0cc;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
	-webkit-box-shadow: -4px 6px 13px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -4px 6px 13px 0px rgba(0, 0, 0, 0.75);
	box-shadow: -4px 6px 13px 0px rgba(0, 0, 0, 0.75);
}

.agujero {
	margin: auto;
	width: 90px;
	height: 90px;
	background-color: cornsilk;
	border-radius: 100%;
	-webkit-box-shadow: inset 7px -7px 20px -9px rgba(0, 0, 0, 1);
	-moz-box-shadow: inset 7px -7px 20px -9px rgba(0, 0, 0, 1);
	box-shadow: inset 7px -7px 20px -9px rgba(0, 0, 0, 1);
}

.redCoin {
	margin: auto;
	width: 90px;
	height: 90px;
	background-color: red;
	border-radius: 100%;
}

.yellowCoin {
	margin: auto;
	width: 90px;
	height: 90px;
	background-color: rgb(231, 216, 7);
	border-radius: 100%;
}

.ranuraYellow:hover {
	-webkit-box-shadow: inset 0px -25px 59px -37px rgb(231, 216, 7);
	-moz-box-shadow: inset 0px -25px 59px -37px rgb(231, 216, 7);
	box-shadow: inset 0px -25px 59px -37px rgb(231, 216, 7);
}

.ranuraRed:hover {
	-webkit-box-shadow: inset 0px -25px 59px -37px rgb(245, 14, 14);
	-moz-box-shadow: inset 0px -25px 59px -37px rgb(245, 14, 14);
	box-shadow: inset 0px -25px 59px -37px rgb(245, 14, 14);
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.spanWinner {
	font-size: 30px;
	font-weight: bold;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btnReload {
	background-color: white;
	font-size: 20px;
	font-weight: 700;
	color: #6699e0cc;
	-webkit-box-shadow: -4px 6px 13px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -4px 6px 13px 0px rgba(0, 0, 0, 0.75);
	box-shadow: -4px 6px 13px 0px rgba(0, 0, 0, 0.75);
}

.titulo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.spanTitulo {
	color: #6699e0cc;
	font-size: 30px;
	font-weight: 900;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
